@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.allergiesFormTile {
  margin: $spacing-03;
  background-color: $background !important;
  overflow: hidden !important;
}

.allergiesFormTitle {
  @include type-style("heading-compact-02");
  padding-bottom: $spacing-05;
}

.allergiesBox {
  margin-top: $spacing-05;
}

.selectedAllergyItem {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid $border-subtle-02;
}

.selectedAllergyItem:last-of-type {
  border: 0 !important;
}

.errorMessage {
  color: $text-error;
  margin-top: $spacing-03;
  font-weight: 600;
}
