@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.textAreaWCloseContainer {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
  margin-block-start: $spacing-05;
  margin-inline-start: 0 !important;
  margin-inline-end: $spacing-05 !important;
  margin-block-end: $spacing-05;
  display: flex !important;
  position: relative;
  :global {
    .cds--text-area__label-wrapper {
      justify-content: flex-end;
      position: absolute;
      bottom: calc($spacing-06 + $spacing-02) * -1;
    }
  }
}

.textAreaWCloseContainerWInvalid {
  margin-block-start: $spacing-05;
  margin-inline-end: $spacing-05 !important;
  display: flex !important;
  position: relative;
  :global {
    .cds--text-area__label-wrapper {
      justify-content: flex-end;
      position: absolute;
      bottom: -$spacing-03;
    }
  }
}

.closeButton {
  margin: 0 !important;
  position: absolute !important;
  top: 2px;
  right: 2px;
  background-color: $field-01 !important;

  :global(.cds--btn--icon-only) {
    background-color: $field-01 !important;
    color: $icon-primary !important;
  }
}
