@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use '@carbon/react/scss/type' as *;



.main {
  background-color: $layer-02;
  padding: $spacing-06 $spacing-12;
  padding-inline: calc($spacing-12 + $spacing-02);
  padding-top: $spacing-08;
}

.patientSearchResult {
  box-shadow: 0 2px 6px 0 $shadow;
  margin-top: $spacing-08;
}

.resultsTitle {
  min-block-size: fit-content !important;
  @include type-style("heading-compact-02");
  color: $text-primary;
}

.patientSearchTableBody {
  td {
    width: 15%;
  }
}

.scheduledStatus {
  background-color: $blue-20 !important;
  color: $blue-70 !important;
}

.arrivedStatus {
  background-color: $yellow-20 !important;
  color: $yellow-70 !important;
}

.checkedInStatus {
  background-color: $teal-20 !important;
  color: $teal-70 !important;
}

.completedStatus {
  background-color: $green-20 !important;
  color: $green-70 !important;
}

.missedStatus,
.cancelledStatus {
  background-color: $red-20 !important;
  color: $red-70 !important;
}

@include breakpoint-down(lg) {
  .main {
    padding: $spacing-06 $spacing-08;
  }
}

.actionButtonsContainer{
  margin-left: -$spacing-07;
  margin-bottom: $spacing-04
}

.actionButton {
  @include type-style('body-compact-01');
  border: 1px solid;
  display: flex;
  width: 8.8rem !important;
  padding: 0.4375rem $spacing-05 !important;
  align-items: center;
  gap: $spacing-07;
}

.headerButton {
  position: absolute !important;
  top: $spacing-02;
  right: $spacing-09;
  padding-inline: $spacing-05 !important;
  z-index: 9999;
}
