@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.conditionsAndDiagnosesTile {
  margin: $spacing-03;
  background-color: $background !important;
  overflow: hidden !important;
}

.conditionsAndDiagnosesTitle {
  @include type-style("heading-compact-02");
  padding-bottom: $spacing-05;
}

.conditionsAndDiagnosesBox {
  margin-top: $spacing-05;
  &:last-child {
    margin-bottom: 0 !important;
  }
}

.selectedDiagnosisItem {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid $border-subtle-02;
  height: $spacing-11 !important;
}

.selectedDiagnosisItem:last-of-type {
  border: 0 !important;
}

.selectedConditionItem {
  border-top: 0 !important;
  border-left: 0 !important;
  border-right: 0 !important;
  border-bottom: 1px solid $border-subtle-02;
  height: $spacing-11 !important;
}

.selectedConditionItem:last-of-type {
  border: 0 !important;
}

.inlineErrorNotification {
  min-width: -webkit-fill-available !important;
  margin-top: $spacing-03;
}
