@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.selectedConditionTitle {
  @include type-style("heading-compact-01");
  margin: 0;
  justify-self: start;
  display: flex !important;
  flex-direction: column !important;
}

.selectedConditionDuration {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
}

.selectedConditionDurationValue {
  width: $spacing-13;
  margin-right: $spacing-04;
}

.selectedConditionDurationUnit {
  width: $spacing-13;
}
