@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.selectedDiagnosisTitle {
  @include type-style("heading-compact-01");
  margin: 0;
  justify-self: start;
  display: flex !important;
  flex-direction: column !important;
}

.selectedDiagnosisCertainty {
  align-self: center;
  width: -webkit-fill-available !important;
}

.addAsConditionLink {
  @include type-style("body-compact-01");
  margin-top: $spacing-02;
  color: $link-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &[aria-disabled="true"] {
    color: $text-disabled;
    cursor: not-allowed;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $text-disabled;
    }

    &:focus {
      text-decoration: none;
      color: $text-disabled;
      outline: none;
    }

    &:active {
      text-decoration: none;
      color: $text-disabled;
      outline: none;
    }
  }
}
