@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/type" as *;

.actionArea {
  position: relative;
  height: 100%;
  width: 100%;
  border-left: 1px solid $gray-20;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
  pointer-events: none;
}

.title {
  @include type-style("heading-03");
  padding: $spacing-06;
  padding-bottom: $spacing-04;
}

.content {
  flex: 1;
  overflow-y: auto;
}

.buttonSet {
  display: flex;
  width: 100%;
  gap: 0;
  border-top: 1px solid $gray-20;

  .twoButtons {
    min-width: calc(100% / 2);
  }

  .threeButtons {
    min-width: calc(100% / 3);
  }
}

@include breakpoint-down(lg) {
  .actionArea {
    width: 100%;
  }

  .buttonSet {
    position: fixed;
    bottom: 0;
    display: grid;
    gap: 0;
    grid-template-columns: repeat(2, calc(100vw / 2));

    .twoButtons {
      min-width: 100%;
    }

    .threeButtons {
      min-width: 100%;
    }
  }
}
