@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/breakpoint" as *;

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-08;
  overflow: scroll;
  padding-inline: $spacing-06;
  padding-bottom: $spacing-07;
  padding-top: $spacing-07;
  scrollbar-width: none;
}

.displayControlSection {
  width: 100%;
}

@include breakpoint-down(lg) {
  .sectionContainer {
    padding-inline: 0;
  }
}
