@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;

.fileTileButton {
  width: $spacing-10;
  height: $spacing-10;
  margin-block: $spacing-03;
  border: 1px solid $border-subtle-01;
  border-radius: $spacing-02;
  background-color: $background;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    border-color: $border-interactive;
    box-shadow: 0 $spacing-01 calc($spacing-01 + $spacing-02) rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }

  &:focus {
    outline: $spacing-01 solid $focus;
    outline-offset: $spacing-01;
    border-color: $border-interactive;
  }

  &:active {
    transform: scale(0.98);
  }
}
