@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.column {
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.medicationTitle {
  @include type-style("heading-compact-02");
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.medicationActions {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
  justify-self: end;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.dosageControls {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.dosageInput {
  width: 50%;
}

.dosageUnit {
  width: 50%;
}

.durationControls {
  display: flex !important;
  flex-direction: row !important;
  align-items: start !important;
  margin-bottom: $spacing-04;
  margin-left: 0;
}

.durationInput {
  width: 50%;
}

.durationUnit {
  width: 50%;
}

.totalQuantity {
  justify-self: end;
}

.statControl {
  padding-inline: 0.625rem;
}
