// Layout styles for the ActionArea component
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/layer" as *;
@use "@carbon/react/scss/theme" as *;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh; // Full viewport height
  width: 100%; // Full width but not forcing vw which can cause overflow
  overflow: hidden; // Prevent scrolling of the overall layout
}

.collapsedModal {
  // Constrain the modal backdrop to left panel only
  :global(#formDetailsModal) {
    position: absolute;
    top: 3rem;
    width: 40%;
  }

  &:has([role="dialog"]) {
    [role="dialog"] {
      width: 100% !important;
      height: 100% !important;
      max-block-size: 100%;
    }
  }
}

.body {
  margin-top: 1rem;
}

.expand {
  width: calc(100vw - 16rem);
  left: 16rem;
}

.collapse {
  width: calc(40vw - 3rem);
  left: 3rem;
}

.patientHeader {
  padding: $spacing-05 $spacing-06;
  position: fixed;
  width: inherit;
  left: inherit;
  z-index: 2;
  box-shadow: 0 2px 6px $shadow;
  height: 5rem;
}

.collapsedPatientHeader {
  height: 10rem;
}

.mainDisplay {
  overflow-y: auto;
  position: fixed;
  bottom: 0;
  left: inherit;
  width: inherit;
  padding: 1.5rem;
  top: 8rem;
}

.collapsedMainDisplay {
  top: 13rem;
}

.actionArea {
  position: fixed;
  top: 3rem !important;
  right: 0;
  height: calc(100vh - 3rem) !important;
  z-index: 1000;
}

// Responsive adjustments using Carbon breakpoints
@include breakpoint-down(lg) {
  .body {
    left: 3rem;
  }

  .patientHeader {
    left: 3rem;
    width: calc(100vw - 3rem);
    height: 10rem;
  }

  .mainDisplay {
    width: calc(100vw - 3rem);
    left: 3rem;
    top: 13rem;
  }

  .actionArea {
    left: 3rem;
  }

  .collapse {
    display: none;
  }
}
