@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.labSkeleton {
  max-inline-size: 100% !important;
}

.labTest {
  background-color: $layer-02;
  border-bottom: 1px solid $border-subtle;
}

.labTestHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: $spacing-05;
  flex-wrap: nowrap;
  padding: $spacing-04;
}

.labTestInfo {
  @include type-style("heading-compact-01");
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-03;
  text-transform: capitalize;
}

.testName {
  @include type-style("body-compact-01");
  text-transform: capitalize;
}

.result {
  //result value
  :first-child {
    @include type-style("body-compact-01");
  }
  //result unit
  :nth-child(2) {
    @include type-style("caption-01");
    color: $text-secondary;
  }
}

.abnormalResult {
  :first-child {
    @include type-style("body-compact-01");
    color: $text-error;
    font-weight: 700;
  }
  :nth-child(2) {
    @include type-style("caption-01");
    color: $support-error;
  }
}

.testDetails {
  @include type-style("body-compact-01");
  color: $text-secondary;
}

.testResultsPending {
  @include type-style("body-compact-01");
  color: $text-secondary;
  padding: 0 $spacing-04 $spacing-04;
}

.accordionItem {
  background-color: $layer-01;
  :global(.cds--accordion__content),
  :global(.cds--accordion__wrapper) {
    padding-block: 0% !important;
    padding-inline: 0% !important;
    margin-block: 0% !important;
    margin-inline: 0% !important;
  }
}

.labInvestigationTableBodyError {
  padding: $spacing-06 $spacing-05;
  text-align: center;

  @include type-style("body-compact-01");
}

.labTestResultsTable {
  td {
    width: 25%;
    border-block-end: none !important;
    border-block-start: none !important;
  }
}

.viewAttachmentsLink {
  margin-inline-start: $spacing-02;
}

.attachmentsContainer {
  display: flex;
  flex-direction: column;
  gap: $spacing-06;
  padding: $spacing-03 0;
}

.attachmentViewer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-03;
  padding: $spacing-04;
}

.attachmentIframe {
  width: 100%;
  height: 600px;
  border: none;
}

.attachmentImage {
  max-width: 100%;
  max-height: 600px;
}

.attachmentNumber {
  @include type-style("label-01");
  color: $text-secondary;
}
