@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;

.labSkeleton {
  max-inline-size: 100% !important;
}

.labTest {
  background-color: $layer-02;
  border-bottom: 1px solid $border-subtle;
}

.labTestHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  row-gap: $spacing-05;
  flex-wrap: nowrap;
  padding: $spacing-04;
}

.labTestInfo {
  @include type-style("heading-compact-01");
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: $spacing-02;
  text-transform: capitalize;
}

.testName {
  @include type-style("body-compact-01");
  text-transform: capitalize;
}

.abnormalResult {
  @include type-style("body-compact-01");
  color: $text-error;
  font-weight: 700;
}

.testDetails {
  @include type-style("body-compact-01");
  color: $text-secondary;
}

.testResultsPending {
  @include type-style("body-compact-01");
  color: $text-secondary;
  padding: 0 $spacing-04 $spacing-04;
}

.accordionItem {
  background-color: $layer-01;
  :global(.cds--accordion__content),
  :global(.cds--accordion__wrapper) {
    padding-block: 0% !important;
    padding-inline: 0% !important;
    margin-block: 0% !important;
    margin-inline: 0% !important;
  }
}

.labInvestigationTableBodyError {
  padding: $spacing-06 $spacing-05;
  text-align: center;

  @include type-style("body-compact-01");
}

.labTestResultsTable {
  td {
    width: 20%;
    border-block-end: none !important;
    border-block-start: none !important;
  }
}
