@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/theme" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/colors" as *;


.form-control-buttons button,
button.abnormal-button {
  background: linear-gradient(to bottom, $layer-01, $border-subtle-01) !important;
  background-color: $border-subtle-01 !important;
  color: $text-primary !important;
  font-size: 14px !important;
}


.form-control-buttons button.active {
  background: linear-gradient(to bottom, $border-subtle-01, $border-subtle-02) !important;
  background-color: $border-subtle-02 !important;
  border: 1px solid $border-subtle-02 !important;
  color: $text-primary !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  padding-left: $spacing-05 !important;
}


.form-control-buttons button:hover:not(:disabled) {
  background: linear-gradient(to bottom, $layer-hover-01, $border-subtle-02) !important;
}

button.abnormal-button {
  background-color: $background !important;
  border: 1px solid $border-subtle-01 !important;
  border-radius: $spacing-02 !important;
  height: $spacing-07 !important;
  padding: 0 $spacing-04 !important;
  cursor: pointer !important;
}

button.abnormal-button.active {
  background-color: $background !important;
  border-color: $link-primary !important;
  color: $text-primary !important;
  padding-left: $spacing-01 !important;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}

button.abnormal-button:hover:not(:disabled) {
  background-color: $layer-hover-01 !important;
  border-color: $border-subtle-01 !important;
}

.form-control-buttons button:disabled,
button.abnormal-button:disabled {
  background-color: $layer-01 !important;
  border-color: $border-disabled !important;
  color: $text-disabled !important;
  cursor: not-allowed !important;
}

/**
 * Fix tooltip arrow positioning to remove gap and make it appear attached to the info text
 */
.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap .form-builder-tooltip-wrap .form-builder-tooltip-description i {
  bottom: -10px !important;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap input.form-builder-error {
  outline: $spacing-01 solid $red-30 !important;
  background: $red-20 !important;
}

.form-builder-row .form-builder-column-wrapper .form-builder-column .form-field-wrap textarea.form-builder-error {
  outline: $spacing-01 solid $red-30 !important;
  background: $red-20 !important;
}

.form-builder-row .obs-control-select-wrapper.form-builder-error .Select-control {
  border: $spacing-01 solid $red-30 !important;
  background: $red-20 !important;
}
