@use "@carbon/react/scss/colors" as *;
@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/theme" as *;

.observationFormsTile {
  margin: $spacing-03;
  background-color: $background !important;
  overflow: hidden !important;
}

.observationFormsTitle {
  @include type-style("heading-compact-02");
  padding-bottom: $spacing-05;
}
